body {
    position: relative;
    padding: 0 10vw;
}
#background {
    position: fixed;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    background-image: url(../img/background-image-optimized.jpg);
    background-size: cover;
    z-index:-2;
}
.filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26,39,52,0.7);
    z-index: -1;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 140vw;
    width: 100%;
    z-index; -2;
    opacity: .99;
}
.box {
    position: relative;
    display: inline-block;
    height: 80vw;
    width: 80vw;
    /*background image*/
    margin: 5vw 0;
    cursor: pointer;
    z-index: 1;
}
.box:hover {
    background-color: rgba(0,0,0,0);
    /*switch to new background image*/
}
.info {
    height: 20vw;
    width: 100%;
    position: absolute;
    bottom: 0;
}
header {
    text-align: center;
}
h2 {
    font-size: 2.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    margin: 10vw 0 0;
}
h3 {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: rgb(252,202,70);
    margin: 0 0 10vw 0;
}
P {
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: WHITE;
    margin: 8vw 4vw;
}
.center {
    text-align: center;
}
.center a {
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: WHITE;
    text-decoration: none;
    padding: 4vw 9vw;
    margin: 0 0 20vw 0;
    height: 10vw;
    width: 60vw;
    background-color: rgba(252,202,70,0.8);
}
.teal {
    background-color: rgba(87,156,135,0.5);
}

.yellow {
    background-color: rgba(252,202,70,0.5);
}
.blue {
    background-color: rgba(35,61,77,0.5);
}
.green {
    background-color: rgba(161,193,129,0.5);
}
.orange {
    background-color: rgba(254,127,45,0.5);
}
.teal-s {
    background-color: rgba(87,156,135,1);
}

.yellow-s {
    background-color: rgba(252,202,70,1);
}
.blue-s {
    background-color: rgba(35,61,77,1);
}
.green-s {
    background-color: rgba(161,193,129,1);
}
.orange-s {
    background-color: rgba(254,127,45,1);
}

footer {
    position: relative;
    height: auto;
    padding: 20vw 0 0 0;
    z-index: 2
}
.footy {
    padding: 20vw 5vw;
    z-index: 9999;
}
footer p {
    padding: 10vw 5vw 0 5vw;
    line-height: 5.5vw;
}
footer img {
    width: 100%;
    height: 100%;
}
footer a {
    width: 21%;
    margin: 0 4% 0 0;
    padding: 0;
    z-index: 999;
    cursor: pointer;
    display: inline-block;
    
} 
.margin-reset {
    margin: 0;
}
#icons {
    padding: 5vw 10vw 10vw 10vw;
    z-index: 99999;
}
main h2 { 
    text-align: center;
}

@media (min-width: 600px){
    body {
        padding: 0;
    }
    .mainy a   {
        margin: 0;
        padding: 0;
}
    h2 {
        font-size: 6vw;
        
    }
    h3 {
        font-size: 4.5vw;
        color: rgb(252,202,70);
    }
    p {
        font-size: 3.5vw;
        margin: 1.8vw 2vw;
    }
    .center p {
        margin: 10vw 2vw 5vw;
    }
    .center a {
        font-size: 3.5vw;
        padding: 3vw 7.5vw;
    }
    .icons a {
        padding: 1.7vw 3vw;
        margin: 20vw 0 20vw 0;
    }
    .box {
        height: 42vw;
        width: 42vw;
        margin: 4.8vw 0 0 4.8vw;
    }
    .box:hover {
        background-color: rgba(52,78,104,0);
    }
    .info {
        height: 10.5vw;
    }
    footer a {
        width: 20.8%;
        margin: 0 4% 0 0;
    } 
    footer p {
        font-size: 3vw;
        line-height: 5vw;
    }
    .footer {
    height: 80vw;
    }
    #icons {
        padding: 5vw 29vw 5vw 29vw;
        z-index: 5;
    }   
}

@media (min-width: 800px){
    h2 {
        font-size: 4vw;
        margin: 20vw 0 0 0;
        
    }
    h3 {
        font-size: 3vw;
        color: rgb(252,202,70);
        margin: 0 0 20vw 0;
    }
    p {
        font-size: 2vw;
        margin: 1.4vw 2vw;
    }
    .center p {
        font-size: 2.3vw;
        margin: 7vw 2vw 4vw;
    }
    .center a {
        font-size: 2vw;
        padding: 2vw 6.5vw;
    }
    .icons a {
        font-size: 2.4vw;
        padding: 1vw 2vw;
    }
    .box {
        height: 26.65vw;
        width: 26.65vw;
    }
    .info {
        height: 6.6625vw;
    }
    footer p {
        line-height: 4vw;
    }
    
    footer a {
        width: 20.6%;
        margin: 0 4% 0 0;
    } 
    .footer {
        height: 65vw;
    }
    #icons {
        padding: 5vw 36.675vw 5vw 36.675vw;
        z-index: 5;
    }   
}
@media (min-width: 1024px){
    #body {
        width: 1024px;
        margin: 0 auto;
    }
    wrapper {
        max-width: 1024px;
    }
    
    p {
        font-size: 1.29em;
        margin: 14px 14px;
    }
    .center p {
        font-size: 1.47em;
    }
    .center a {
        font-size: 1.5em;
        padding: 20px 52px;
    }
    .icons a {
        font-size: 1.53em;
        padding: 10px 20px;
    }
    .box {
        height: 272px;
        width: 272px;
        margin: 47px 0 0 47px;
    }
    .info {
        height: 68.22px;
    }
    footer p {
        line-height: 130%;
        font-size: 1.7em;
    }
    footer a {
        width: 56.2px;
        margin: 0 10px 0 0;
    }
    .footer {
        height: 550px;
        width: 100%;
        
    }
     #icons {
        padding: 5% 36.675% 5% 36.675%;
        z-index: 5;
    }   
    footer {
        width: 100%;
    }
}
