/*==New Navigation===========================================*/
nav a{
    height: 100%;
    color: rgb(var(--primary-btn));
    transition: all 200ms ease;
}
nav {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .15rem;
    color: rgb(var(--text-1));
    background-color: rgb(var(--primary-btn-text));
    border-radius: var(--round-lg);
    position: fixed;
    width: 90vw;
    margin: 1rem 5vw;
    bottom: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.moveHeader nav{
    animation: moveHeader 2s ease-in-out;
}
@keyframes moveHeader {
    0% {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    100% {
        width: 90%;
        margin: 1rem 5vw;
        border-radius: var(--round-lg);
    }
}
@-webkit-keyframes moveHeader {
    0% {
        width: 100vw;
        margin: 0;
        border-radius: 0;
    }
    100% {
        width: 90vw;
        margin: 1rem 5vw;
        border-radius: var(--round-lg);
    }
}
nav .container{
    display: flex;
    width: 80vw;
    margin: .5rem 5vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .15rem;
    color: rgb(var(--text-1));
    line-height: 26.5px;
    margin-top: 2px;
    border-bottom: solid 2px rgba(var(--primary-btn), 0);
}
label {
	margin-top: 2px;
}
i {
    font-size: 1.2rem;
    cursor: pointer;
}
i:hover{
    color: rgb(var(--primary-btn));
    transition: all 200ms ease;
}
ul{
    list-style-type: none;
    display: block;
    position: absolute;
    width: auto;
    top: -17rem;
    right: -50vw;
    text-align: left;
}
.navItem {
    line-height: 26.5px;
    margin-top: calc(.5rem + 2px); 
}
nav input:checked ~ ul {
    transform: translateX(-45vw);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}
nav input:not(:checked) ~ ul {
    transform: translateX(45vw);
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}
#burger {
    opacity: 0;
    margin: 1rem 0;
}
nav ul li {
    margin: .5rem 0 .5rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    cursor: pointer;
}
nav ul {
    padding: 2rem;
    background: rgb(var(--accent-clr));
    border-radius: var(--round-lg);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 861px){
    nav {
        padding: 0;
        top: 0;
        bottom: auto;
    }
    nav .container {
        width: 80vw;
        margin: 0 auto;
        padding: 0;
    }
    nav input, label {
        display: none;
    }
    nav input:not(:checked) ~ ul {
        all: initial;
        list-style-type: none;
        display: inline;
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: .9rem;
    }
    .navItem:hover, .logo:hover {
        border-bottom: solid 2px rgb(var(--primary-btn));
        transition-delay: 0ms;
        transition-duration: 200ms;
    }
    .active {
        border-bottom: solid 2px rgb(var(--primary-btn));
    }
    nav ul .button5 {
        margin: .2rem 0;
    }
    nav ul li .button5, nav ul li .button6  {
        margin-left: .5rem;
    }
    nav li {
        display: inline-block;
        line-height: 26.5px;
    
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;  
        cursor: pointer;
    }
    .navItem {
        margin: calc(.5rem + 2px) 2rem .5rem 0;
    }
    
    nav ul {
        display: inline;
        display: flex;
        gap: 2rem;
        padding: 0; 
        margin: .5rem 0;
        background: rgb(var(--primary-btn-text));
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.0);
    }
}
@media only screen and (min-width: 1920px){
    @keyframes moveHeader {
      0% {
          width: 100vw;
          margin: 0;
          border-radius: 0;
      }
      100% {
          width: 1920px;
          margin: 1rem calc((100vw - 1920px)/2);
          border-radius: var(--round-lg);
      }
    }
    @-webkit-keyframes moveHeader {
        0% {
            width: 100vw;
            margin: 0;
            border-radius: 0;
        }
        100% {
            width: 1920px;
            margin: 1rem calc((100vw - 1920px)/2);
            border-radius: var(--round-lg);
        }
    }
    nav {
        width: 1920px;
        margin: 1rem calc((100vw - 1920px)/2);
        }
    nav .container {
        width: auto;
        margin: 0 4rem;
    }
}
/*=============================================*/
:root {
    --blue: 63,76,92;
    --beige: 234,229,211;
    --yellow: 244,197,117;
    --round-card: 32px;
    --round-lg: 16px;
    --round-md: 12px;
    --round-sm: 8px;
    --round-tiny: 4px;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg: 234,229,211;
        --bg-svg: url(../img/bg-light.svg);
        --accent-clr: 234,229,211;
        --text-1: 63,76,92;
        --text-2: 26,39,52;
        --text-3: 63,76,92;
        --primary-btn: 63,76,92;
        --primary-btn-outline: 63,76,92;
        --primary-btn-text: 234,229,211;
        --cta: 244,197,117;
        --text-cta: 26,39,52;
        --in-focus: 63,76,92;
        --mid-focus: 244,197,117;
        --out-focus: 63,76,92;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg: 26,39,52;
        --bg-svg: url(../img/bg-dark.svg);
        --accent-clr: 63,76,92;
        --text-1: 234,233,224;
        --text-2: 244,197,117;
        --text-3: 234,233,224;
        --primary-btn: 234,233,224;
        --primary-btn-outline: 234,233,224;
        --primary-btn-text: 26,39,52;
        --cta: 244,197,117;
        --text-cta: 26,39,52;
        --in-focus: 244,197,117;
        --mid-focus: 63,76,92;
        --out-focus: 244,197,117;
    }
}
.dark {
    --bg: 26,39,52;
    --bg-svg: url(../img/bg-dark.svg);
    --accent-clr: 63,76,92;
    --text-1: 234,233,224;
    --text-2: 244,197,117;
    --text-3: 234,233,224;
    --primary-btn: 234,233,224;
    --primary-btn-outline: 234,233,224;
    --primary-btn-text: 26,39,52;
    --cta: 244,197,117;
    --text-cta: 26,39,52;
    --in-focus: 244,197,117;
    --mid-focus: 63,76,92;
    --out-focus: 244,197,117;
}
.light {
    --bg: 234,229,211;
    --bg-svg: url(../img/bg-light.svg);
    --accent-clr: 234,229,211;
    --text-1: 63,76,92;
    --text-2: 26,39,52;
    --text-3: 63,76,92;
    --primary-btn: 63,76,92;
    --primary-btn-outline: 63,76,92;
    --primary-btn-text: 234,229,211;
    --cta: 244,197,117;
    --text-cta: 26,39,52;
    --in-focus: 63,76,92;
    --mid-focus: 244,197,117;
    --out-focus: 63,76,92;
}
.yellow {
    --bg: 247,223,180;
    --bg-svg: url(../img/bg-accent.svg);
    --accent-clr: 244,197,117;
    --text-1: 63,76,92;
    --text-2: 26,39,52;
    --text-3: 63,76,92;
    --primary-btn: 63,76,92;
    --primary-btn-outline: 63,76,92;
    --primary-btn-text: 244,197,117;
    --cta: 63,76,92;
    --text-cta: 244,197,117;
    --in-focus: 63,76,92;
    --mid-focus: 234,229,211;
    --out-focus: 63,76,92;
}

html {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}
body {
    position: fixed;
    margin: 0;
    height: 100vh;
    background-color: rgb(var(--accent-clr));
}
#case {
    scroll-margin-top: 80px;
}
#footer {
    scroll-margin-top: 20px;
}
path {
    fill: #101820;
    stroke: #101820;
  }
.bg-img {
    z-index: -1;
    position: fixed;
    top: 0;
    background-position-x: 50%;
    background-position-y: 80%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: var(--bg-svg);
    background-color: rgb(var(--primary-btn));
    background-repeat: no-repeat;
    
    overflow-x: hidden;
}
.body {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    scroll-behavior: smooth;
}
.blue-bg {
    background-color: rgba(var(--bg),0.8);
    padding: 2.5vw 0;
}
.yellow-bg {
    background-color: rgb(var(--accent-clr));
    padding: 2.5vw 0 0 0;
}
.footer-bg {
    background-color: rgb(var(--accent-clr));
}
video {
    margin-bottom: -.5rem;
    width: 100vw;
    height: 70svh;
    object-fit: cover;
}
.tiny-margin {
        padding: 10vw 10vw;
        text-align: center;
    }
@media only screen and (min-width: 1920px) {
    video {
        width: 100vw;
        height: 70svh;
    }
    .tiny-margin {
        padding: 10vh 10vh;
        text-align: center;
    }
}
/*----Photo Highlights-----------------------*/
.photo-highlight {
    height: 50%;
    width: 100%;
    margin: -2.5vh auto -2.5vh auto;
    max-width: 1920px;
    text-align: center;
}
.photo-hightlight, img {
    height: 100%;
    width: auto;
}
/*---------------------------*/
h1 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    line-height: 3.5rem;
    text-wrap: balance;
    color: rgb(var(--text-3));
}
h2 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 2.25rem;
    letter-spacing: .1rem;
    line-height: 2.5rem;
    text-wrap: balance;
    color: rgb(var(--text-2));
    margin-top: -5rem;
}
h3 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-wrap: balance;
    color: rgb(var(--text-1));
}
h4 {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: .15rem;
    text-wrap: balance;
    color: rgb(var(--text-1));
    margin-top: -1vh;
}
.intro {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    line-height: 1.8rem;
    text-wrap: balance;
    color: rgb(var(--text-1));
    margin: -2rem 0 3rem 0;
}
.typer {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    text-wrap: balance;
    color: rgb(var(--text-2));
}
.typer:after {
    content:"";
    animation: blink2 1s 0s, oops 2.5s 1s, blink 1s 3.5s infinite;
    animation-fill-mode: forwards;
}
@keyframes blink2 {
    0% {
        content: "↑ ↑ ↓ ↓ ← → ← → B A |"
    }
    100% {
        content: "↑ ↑ ↓ ↓ ← → ← → B A"
    }
}
@-webkit-keyframes blink2 {
    0% {
        content: "↑ ↑ ↓ ↓ ← → ← → B A |"
    }
    100% {
        content: "↑ ↑ ↓ ↓ ← → ← → B A"
    }
}
@keyframes oops {
    0% {
        content: "↑ ↑ ↓ ↓ ← → ← → B A |";
    }
    10% {
       content: "↑ ↑ ↓ ↓ ← → ← → B A |";
    }
    13% {
       content: "↑ ↑ ↓ ↓ ← → ← → B |";
    }
    16% {
       content: "↑ ↑ ↓ ↓ ← → ← →|";
    }
    19% {
       content: "↑ ↑ ↓ ↓ ← → ←|";
    }
    22% {
        content: "↑ ↑ ↓ ↓ ← →|";
    }
    25% {
        content: "↑ ↑ ↓ ↓ ←|";
    }
    28% {
         content: "↑ ↑ ↓ ↓|";
    }
    31% {
        content: "↑ ↑ ↓|";
    }
    34% {
        content: "↑ ↑|";
    }
    37% {
        content: "↑|";
    }
    40% {
        content: "|";
    }
    45% {
        content: "H|";
    }
    50% {
        content: "He|";
    }
    55% {
        content: "Hel|";
    }
    60% {
       content: "Hell|";
    }
    65% {
        content: "Hello|";
    }
    70% {
       content: "Hello |";
    }
    75% {
       content: "Hello W|";
    }
    80% {
        content: "Hello Wo|";
    }
    85% {
        content: "Hello Wor|";
    }
    90% {
      content: "Hello Worl|";
    }
    95% {
        content: "Hello World|";
    }
    100% {
       content: "Hello World!|";
    }
}
@-webkit-keyframes oops {
    0% {
        content: "↑ ↑ ↓ ↓ ← → ← → B A |";
    }
    10% {
       content: "↑ ↑ ↓ ↓ ← → ← → B A |";
    }
    13% {
       content: "↑ ↑ ↓ ↓ ← → ← → B |";
    }
    16% {
       content: "↑ ↑ ↓ ↓ ← → ← →|";
    }
    19% {
       content: "↑ ↑ ↓ ↓ ← → ←|";
    }
    22% {
        content: "↑ ↑ ↓ ↓ ← →|";
    }
    25% {
        content: "↑ ↑ ↓ ↓ ←|";
    }
    28% {
         content: "↑ ↑ ↓ ↓|";
    }
    31% {
        content: "↑ ↑ ↓|";
    }
    34% {
        content: "↑ ↑|";
    }
    37% {
        content: "↑|";
    }
    40% {
        content: "|";
    }
    45% {
        content: "H|";
    }
    50% {
        content: "He|";
    }
    55% {
        content: "Hel|";
    }
    60% {
       content: "Hell|";
    }
    65% {
        content: "Hello|";
    }
    70% {
       content: "Hello |";
    }
    75% {
       content: "Hello W|";
    }
    80% {
        content: "Hello Wo|";
    }
    85% {
        content: "Hello Wor|";
    }
    90% {
      content: "Hello Worl|";
    }
    95% {
        content: "Hello World|";
    }
    100% {
       content: "Hello World!|";
    }
}  
@keyframes blink {
    0% {
        content: "Hello World!"
    }
    100% {
        content: "Hello World!|"
    }
}
@-webkit-keyframes blink {
    0% {
        content: "Hello World!"
    }
    100% {
        content: "Hello World!|"
    }
}
.label {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .15rem;
    text-wrap: balance;
    color: rgb(var(--text-2));
    margin: .5rem 0 -1rem 0;
}
.label-sm {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .15rem;
    text-wrap: balance;
    color: rgb(var(--text-2));
    margin-bottom: -0.75rem;
}
p {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: rgb(var(--text-1));
}
.highlight {
    display: inline;
    font-style: italic;
    font-weight: 300;
}
.inverse {
    color: rgb(var(--text-3));
}



.listItem {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    align-items: flex-start;
    margin-bottom: 6px;
    display: flex;
}
.listBullet {
    display: inline-block;
    width: 100%;
    max-width: 1.75rem;
    max-height: 1.75rem;
    margin: 0.875rem 0px;
}
.bulletColor {
    fill: rgb(var(--primary-btn));
}
.listCopy {
    display: inline-block;
}





a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.swatch {
    font-size: 4px;
    color: rgba(0,0,0,0);
    display: inline-block;
    height: 16px;
    width: 64px;
    margin-right: 8px;
    border-radius: var(--round-tiny);
    cursor: pointer;
}
.dark-btn {
    background-color: rgb(var(--blue));
    border: 2px solid rgb(var(--primary-btn-outline));    
}
.light-btn {
    background-color: rgb(var(--beige));
    border: 2px solid rgb(var(--primary-btn-outline));
}
.yellow-btn {
    background-color: rgb(var(--yellow));
    border: 2px solid rgb(var(--primary-btn-outline));
}
.blank-btn {
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-radius: var(--round-md);
        border-spacing: 0;
        color: #26589F;
        cursor: pointer;
        text-align: left;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        text-indent: 0;
}
.clue {
    display: inline-block;
    align-items: center;
}
.clue svg {
    width: auto;
    height: 1rem;
    fill: rgb(var(--bg));
    background-color: rgb(var(--bg));
    padding-top: 1vw;
}
.button1 {
    background-color: rgb(var(--primary-btn));
    border: 2px solid rgb(var(--primary-btn-outline));
    border-radius: var(--round-md);
    color: rgb(var(--primary-btn-text));
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .75rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.button1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 12px;
    right: -24px;
    transition: 0.25s;
}
.button1:hover{
    padding-right: 36px;
    padding-left: 12px;
}
.button1:hover:after {
    opacity: 1;
    right: 12px;
}
.button2 {
    background-color: rgb(var(--accent-clr));
    border: 2px solid rgb(var(--primary-btn-outline));
    border-radius: var(--round-md);
    color: rgb(var(--primary-btn-outline));
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .75rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.button2:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 12px;
    right: -24px;
    transition: 0.25s;
}
.button2:hover{
    padding-right: 36px;
    padding-left: 12px;
}
.button2:hover:after {
    opacity: 1;
    right: 12px;
}
.button3 {
    background-color: rgba(var(--cta));
    border: 0 none;
    border-radius: var(--round-lg);
    outline: none;
    color: rgb(var(--text-cta));
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.button3:after {
    content: '»';
    border: 0 none;
    outline: none;
    position: absolute;
    opacity: 0;  
    top: 16px;
    right: -32px;
    transition: 0.25s;
}
.button3:hover{
    border: 0 none;
    padding-right: 48px;
    padding-left: 16px;
}
.button3:hover:after {
    opacity: 1;
    right: 16px;
}
.button4 {
    background-color: rgba(var(--cta));
    border: 0 none;
    border-radius: var(--round-lg);
    outline: none;
    color: rgb(var(--text-cta));
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.button4:after {
    border: 0 none;
    outline: none;
    content: '«';
    position: absolute;
    opacity: 0;  
    top: 16px;
    left: -32px;
    transition: 0.25s;
}
.button4:hover{
    border: 0 none;
    padding-right: 16px;
    padding-left: 48px;
}
.button4:hover:after {
    opacity: 1;
    left: 16px;
}
.button5 {
    background-color: rgb(var(--primary-btn));
    border: 2px solid rgb(var(--primary-btn-outline));
    border-radius: var(--round-sm);
    color: rgb(var(--primary-btn-text));
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .75rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.button5:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 6px;
    right: -12px;
    transition: 0.25s;
}
.button5:hover{
    padding-right: 18px;
    padding-left: 6px;
}
.button5:hover:after {
    opacity: 1;
    right: 6px;
}
.button6 {
    background-color: rgb(var(--accent-clr));
    border: 2px solid rgb(var(--primary-btn-outline));
    border-radius: var(--round-sm);
    color: rgb(var(--primary-btn-outline));
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: .75rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
}
.button6:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 6px;
    right: -12px;
    transition: 0.25s;
}
.button6:hover{
    padding-right: 18px;
    padding-left: 6px;
}
.button6:hover:after {
    opacity: 1;
    right: 6px;
}
button:focus-visible {
    border: 2px solid rgb(var(--in-focus));
    outline: 2px solid rgb(var(--mid-focus));
    box-shadow:0 0 0 4px rgb(var(--out-focus));
}
a.card-link {
    display: none;
}
nav a:focus-visible {
    outline: 2px solid rgb(var(--mid-focus));
    box-shadow:0 0 0 4px rgb(var(--out-focus));
    border-radius: var(--round-sm);
    padding: .25rem .5rem;
}
header {
    height: 75vh;
    margin: 0 10vw;
    display: table;
}
.table .child {
    display: table-cell;
    vertical-align: middle;
}
header h2 {
    margin-top: -1.25rem;
}
/*===Scroll Icon========*/
.icon {
	box-sizing: border-box;
	margin: 5vh 0;
	padding: 0;
	width: 100%;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 500px;
}
.mouse {
	width: 1rem;
	height: 2rem;
	border: 2px solid rgb(var(--primary-btn));
	border-radius: 1rem;
	position: relative;
}
.mouse::before {
    content: '';
    width: .3rem;
    height: .3rem;
    position: absolute;
    top: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(var(--primary-btn));
    border-radius: 100%;
    opacity: 1;
    animation: wheel 2s infinite ;
    -webkit-animation: wheel 2s infinite ;
}
@keyframes wheel {
	0% {
        opacity: 0%;
    }
    10% {
        opacity: 100%;
    }
    40% {
        opacity: 100%;
    }
    100% {
		opacity: 0%;
		top: .4rem;
	}
}
@-webkit-keyframes wheel {
	0% {
        opacity: 0%;
    }
    10% {
        opacity: 100%;
    }
    40% {
        opacity: 100%;
    }
    100% {
		opacity: 0%;
		top: .4rem;
	}
}
.animate {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(20%);
    transition: all 600ms cubic-bezier(.56,.35,.53,1.18);
}
.in-view {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
}
.animate:nth-child(2) {
    transition-delay: 150ms;
}
.animate:nth-child(3) {
    transition-delay: 300ms;
}
.animate:nth-child(4) {
    transition-delay: 450ms;
}
.animate:nth-child(5) {
    transition-delay: 600ms;
}
.animate:nth-child(6) {
    transition-delay: 750ms;
}
.animate:nth-child(7) {
    transition-delay: 900ms;
}

/*===========*/
.grid-container {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 2.5vw;
    grid-row-gap: 2.5vw;
    grid-template-areas:
    "case-0 case-0 case-0" 
    "case-1 case-1 case-1"
    "case-2 case-2 case-2"
    "case-3 case-4 case-5";
}
/* -- Beginning Card style updates -- */
.grid-item .img {
    border-radius: var(--round-card) 0 0 var(--round-card);
}
.grid-item .sub-grid-item {
    border-radius: 0 var(--round-card) var(--round-card) 0;
}
.alt-grid-item .img {
    border-radius: var(--round-card) var(--round-card) 0 0;
}
.alt-grid-item .sub-grid-item {
    border-radius: 0 0 var(--round-card) var(--round-card);
}
/* -- End of Card style updates -- */
.grid-item-0 {
    grid-area: case-0;
}
.grid-item-1 {
    grid-area: case-1;
}
.grid-item-2 {
    grid-area: case-2;
}
.grid-item-3 {
    grid-area: case-3;
}
.grid-item-4 {
    grid-area: case-4;
}
.grid-item-5 {
    grid-area: case-5;
}
.alt-grid-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-rows: auto auto;
    grid-template-areas: "img" "sidebar";
}
.alt-grid-item .img {
    grid-area: img;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: calc(100% + 2.5vw);
    width: 100%;
    height: 0;
    padding-top: 75%;
}
.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.5vw;
    grid-template-areas: "img img sidebar";
}
.grid-item .img {
    grid-area: img;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: calc(100% + 2.5vw);
}
.img {
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
}
.zero {
    background-image: url(../img/YL-Nav-Case-Study-Hover.jpg);
    transition: ease-in-out 2s;
}
.grid-item-0:hover .zero {
    background-size: 150%;
    transition: ease-out 10s;   
}
.one {
    background-image: url(../img/Insights-hover.jpg);
    transition: ease-in-out 2s;
}
.grid-item-1:hover .one {
    background-size: 150%;
    transition: ease-out 10s;
}
.two {
    background-image: url(../img/Multiman-Case-Study-Hover.jpg);
    transition: ease-in-out 2s;
}
.grid-item-2:hover .two {
    background-size: 150%;
    transition: ease-out 10s;
}
.three {
    background-image: url(../img/Web-Design-2-Hover.jpg);
    transition: ease-in-out 2s;
}
.grid-item-3:hover .three {
    background-size: 150%;
    transition: ease-out 10s;
}
.four {
    background-image: url(../img/Graphic-Design-Hover.jpg);
    transition: ease-in-out 2s;
}
.grid-item-4:hover .four {
    background-size: 150%;
    transition: ease-out 10s;
}
.five {
    background-image: url(../img/Snake-Hover.jpg);
    transition: ease-in-out 2s;
}
.grid-item-5:hover .five {
    background-size: 150%;
    transition: ease-out 10s;
}
.sub-grid-item {
    position: relative;
    grid-area: sidebar;
    background-color: rgb(var(--accent-clr));
    height: 100%;
    width: 100%;
}
.sub-grid-item h3 {
    margin: 10% 10% 3% 10%;
}
.sub-grid-item p {
    margin: 0% 10% 5% 10%;
}
.sub-grid-item .button1 {
    margin: 0% 10% 10% 10%;
}
.sub-grid-item .button2 {
    margin: 0% 10% 10% 10%;
}
.cta {
    padding: 10vw 10vw;
    text-align: center;
}
.cta h3 {
    color: rgb(var(--text-3));
}
.grid-container-2 {
    margin: 0;
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    grid-column-gap: 5vw;
    grid-template-areas: 
    "photo photo bio bio .";
}
.footer h2 {
    color: rgb(var(--text-1));
}
.footer-grid-item-1 {
    grid-area: bio;
    margin: 5vh auto 5vh -2.5vw;
}
.footer-grid-item-2 {
    background-image: url(../img/Profile-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-area: photo;
    margin: auto;
}
.footer-grid-item-1 .button1, .footer-grid-item-1 .button2 {
    margin-right: 2%;
    margin-bottom: 3%;
} 

/* --- Case Study Specific --- */
.cs-content, .cs-photo {
    margin: auto 0px;
} 
.cs-content ul{
    list-style-type: disc;
    display: inline;
    position: relative;
    width: auto;
    top: -1.5rem;
    left: 1rem;
}
.case-study img {
    width: 100%;
}
.grid-container-3 {
    padding: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 2.5vw;
    grid-row-gap: 2.5vw;
}
.spaceTop {
    margin: 6.5vh 0 0 0;
}
/* --- Gallery Specific --- */
.gallery {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 1.25vw;
    grid-row-gap: 1.25vw;
}
.gal-intro {
    margin: 0 10vw 5vw 10vw;
    color: rgb(var(--text-3));
}
.gallery img {
    width: 100%;
    border-radius: var(--round-lg);
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallery img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
/* --- Bento Grid --- */
.bento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 150px;
    grid-column-gap: .75vw;
    grid-row-gap: .75vw;
    margin: 0 10vw;
}
.holder {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4rem;
    color: rgb(var(--text-1));
    display: flex;
    align-items: end;
    justify-content: start;
    color: rgba(var(--text-1),0);
    background-color: rgb(var(--accent-clr));
    background-position: center; 
}
.holder:hover {
    color: rgba(var(--text-1),1);
}
.test1 {
    border-radius: var(--round-card) var(--round-sm) var(--round-sm) var(--round-sm);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-1.jpg);
    background-size: cover;
    padding: .25rem .5rem;
}
.test1:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-1.jpg);
}
.test2 {
    grid-column: 2/4;
    grid-row: 1/3;
    border-radius: var(--round-sm) var(--round-card) var(--round-sm) var(--round-sm);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-2.jpg);
    background-size: cover;
    padding: .25rem .5rem;
}
.test2:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-2.jpg);
}
.test3 {
    border-radius: var(--round-card) var(--round-sm) var(--round-sm) var(--round-sm);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-3.jpg);
    background-size: cover;
    padding: .25rem .5rem;
}
.test3:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-3.jpg);
}
.test4 {
    grid-column: 5/7;
    grid-row: 1/2;
    border-radius: var(--round-sm) var(--round-card) var(--round-card) var(--round-sm);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-4.jpg);
    background-size: cover;
    padding: .25rem 1.5rem .25rem .5rem;
}
.test4:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-4.jpg);
    background-size: cover;
    padding: .25rem 1.5rem .25rem .5rem;
}
.test5 {
    border-radius: var(--round-sm) var(--round-sm) var(--round-sm) var(--round-card);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-5.jpg);
    background-size: cover;
    padding: .25rem .5rem .25rem 1.5rem;
}
.test5:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-5.jpg);
}
.test6 {
    grid-column: 4/6;
    grid-row: 2/5;
    border-radius: var(--round-sm) var(--round-sm) var(--round-card) var(--round-card);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-6.jpg);
    background-size: cover;
    padding: .25rem 1.5rem;
}
.test6:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-6.jpg);
}
.test7 {
    grid-column: 6/7;
    grid-row: 2/4;
    border-radius: var(--round-sm) var(--round-card) var(--round-sm) var(--round-sm);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-7.jpg);
    background-size: cover;
    padding: .25rem .5rem;
}
.test7:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-7.jpg);
}
.test8 {
    grid-column: 1/3;
    grid-row: 3/5;
    border-radius: var(--round-card) var(--round-sm) var(--round-sm) var(--round-card);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-8.jpg);
    background-size: cover;
    padding: .25rem .5rem .25rem 1.5rem;
}
.test8:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-8.jpg);
}
.test9 {
    grid-column: 3/4;
    grid-row: 3/5;
    border-radius: var(--round-sm) var(--round-sm) var(--round-card) var(--round-sm);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-9.jpg);
    background-size: cover;
    padding: .25rem .5rem .25rem 1.5rem;
}
.test9:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-9.jpg);
}
.test10 {
    border-radius: var(--round-sm) var(--round-sm) var(--round-card) var(--round-card);
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0) 0,
        rgba(var(--accent-clr),0) 1.5rem,
        rgba(var(--accent-clr),0) 3rem), url(../img/about/gallery/gallery-10.jpg);
    background-size: cover;
    padding: .25rem 1.5rem;
}
.test10:hover {
    background-image: linear-gradient(
        to top, 
        rgba(var(--accent-clr),0.9) 0,
        rgba(var(--accent-clr),0.6) 4rem,
        rgba(var(--accent-clr),0) 8rem), url(../img/about/gallery/gallery-10.jpg);
}
/* --- Snake specific --- */
.center h1, .center h2 {
    width: 80vw;
    text-align: center;    
}
section h3 {
    color: rgb(var(--text-3));
}
#snake {
    margin: 0;
    padding: 0;
    text-align: center;
}
.score {
    font-family: "Inter", Arial, Helvetica, sans-serif;;
    font-size: 2em;
    position: relative;
    color: rgb(var(--text-2));
}
canvas {
    display: block;
    position: relative;
    margin: auto;
    top: 2vw;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: var(--round-lg);           
    max-width: 100%; /*s don't let it get wider than the screen (mobile)*/
}
/* --- 404 specific --- */
.case-study canvas {
    pointer-events: none;
}
.pnf {
    margin-top: -16vh;
}
.pnf .cs-content p {
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.pnf .cs-content .button1, .pnf .cs-content .button2 {
    margin-right: 2%;
    margin-bottom: 3%;
}
/* --- Slow Bar specific --- */
.sb-zero {
    background-image: url(../img/KSV1-preview.gif);
    transition: ease-in-out 2s;
}
.grid-item-0:hover .sb-zero {
    background-size: 150%;
    transition: ease-out 10s;   
}

@media only screen and (min-width: 1920px) {
    header {
    height: 72vh;
    margin: 0 4rem;
    }
    .grid-container {
        width: auto;
        margin: 0 4rem;
        grid-column-gap: 3.1%;
        grid-row-gap: 5.35%;
    }
    .cta {
        padding: 25% 0 15% 0;
    }
    .grid-container-2 {
        margin: 0 4rem;
        padding: 4rem 0;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 5.35%;
        grid-template-areas: 
        "photo bio";
    }
    .grid-container-3 {
        margin: 0 4rem;
        padding: 0;
    }
    .footer-grid-item-1 {
        margin: auto auto auto -4%;
    }
    .footer-grid-item-1 .button1, .footer-grid-item-1 .button2 {
        margin-right: 1%;
	    margin-bottom: 1%;
    } 
    .footer-grid-item-2 {
        border-radius: var(--round-card);
    }
    .bento {
        margin: 0 4rem;
    }
}
@media only screen and (max-width: 948px) {
    .yellow-bg {
        padding: 5% 0;
    }
    h1 {
        font-size: 2rem;
        line-height: 2.25rem;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    .intro {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin: -1.5rem 0 2rem 0;
    }
    .typer {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .label {
        font-size: 1.25rem;
        margin: .3rem 0 1.5rem 0;
    }
    header {
        height: 77vh;
    }
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap: 5vw;
        grid-template-areas: 
        "case-0 case-0 case-0"
        "case-1 case-1 case-1"
        "case-2 case-2 case-2"
        "case-3 case-3 case-3"
        "case-4 case-4 case-4"
        "case-5 case-5 case-5";
    }
    /* -- Beginning Card style updates -- */
        .grid-item .img {
            border-radius: var(--round-card) var(--round-card) 0 0;
        }
        .grid-item .sub-grid-item {
            border-radius: 0 0 var(--round-card) var(--round-card);
        }
    /* -- End of Card style updates -- */
    .sub-grid-item {
        position: relative;
        grid-area: sidebar;
        background-color: rgb(var(--accent-clr));
        height: 100%;
        width: 100%;
    }
    .sub-grid-item h3 {
        margin: 10% 10% 3% 10%;
    }
    .sub-grid-item p{
        margin: 0% 10% 4% 10%;
    }
    .sub-grid-item .button1 {
        position: relative;
        margin: 0% 10% 10% 10%;
    }
    .sub-grid-item .button2 {
        margin: 0% 10% 10% 10%;
    }
    .alt-grid-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-template-rows: auto auto;
        grid-template-areas: "img" "sidebar";
    }
    .alt-grid-item .img {
        grid-area: img;
        width: 100%;
        height: 0;
        padding-top: 75%;
    }
    .zero {
        background-image: url(../img/YL-Nav-Case-Study-Hover.jpg);
    }
    .one {
        background-image: url(../img/Insights-hover.jpg);
    }
    .two {
        background-image: url(../img/Multiman-Case-Study-Hover.jpg);
    }
    .three {
        background-image: url(../img/Web-Design-2-Hover.jpg);
    }
    .four {
        background-image: url(../img/Graphic-Design-Hover.jpg);
    }
    .five {
        background-image: url(../img/Snake-Hover.jpg);
    }
    .grid-item {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-template-rows: auto auto;
        grid-template-areas: "img" "sidebar";
    }
    .grid-item .img {
        grid-area: img;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: 100%;
        height: 0;
        padding-top: 75%;
    }
    .img {
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    .grid-container-2 {
        margin: 0 10vw;
        padding: 10vw 0 14vw 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-template-rows: auto auto;
        grid-row-gap: 5vw;
        grid-template-areas: 
        "photo" "bio";
    }
    .footer-grid-item-1 {
        margin: 0;
    }
    .footer-grid-item-1 .button2 {
        margin-bottom: 2.5rem;
    }
    .footer-grid-item-2  {
        background-image: url(../img/Profile-2.jpg);
        width: 80vw;
        height: 80vw;
        border-radius: 50% 50% var(--round-md) var(--round-md);
    }

    /* --- Case Study Specific --- */
    .grid-container-3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 2.5vw;
    }
    .mobile-reverse .cs-photo {
        order: -1;
    }
    .mobile-reverse .cs-content {
        order: 1;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 2.5vw;
        grid-row-gap: 2.5vw;
    }
    .spaceTop {
        margin: -2vh 0 0 0;
    }
    /* --- Bento Grid --- */
    .bento {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        margin: 0 10vw;
    }
    .test2 {
        grid-column: 2/4;
        grid-row: 1/3;
    }
    .test3 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .test4 {
        grid-column: 2/4;
        grid-row: 5/6;
    }
    .test6 {
        grid-column: 1/3;
        grid-row: 6/9;
    }
    .test7 {
        grid-column: 3/4;
        grid-row: 6/8;
    }
    .test8 {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .test9 {
        grid-column: 3/4;
        grid-row: 3/5;
    }
}
@media screen and (max-width: 861px){
    header {
        height: 67vh;
    }
}
@media only screen and (max-width: 524px) {
    header {
        height: 67vh;
    }
    .footer-grid-item-1 .button1 {
        margin-bottom: 2.5vw;
    } 
    .footer-grid-item-1 .button2 {
        margin-bottom: 2.5rem;
    }
}
@media only screen and (max-width: 415px) {
    h1 {
        font-size: 2.5rem;
        line-height: 2.4rem;
        padding-bottom: 1vh;
    }
    .footer-grid-item-2 img {
        width: 60vw;
    }
    /* --- Gallery Specific --- */
    .gallery {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 2.5vw;
    }
}
@media only screen and (max-width: 375px) {
    .button3:after {
        top: 28px;
    }
    .button3:hover:after {
        right: 32px;
    }
}
@media only screen and (max-width: 340px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 200;
    }
}
@media only screen and (max-width: 300px) {
    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .button1:after {
        top: 20px;
    }
    .button1:hover:after {
        right: 24px;
    }
    .button2:after {
        top: 20px;
    }
    .button2:hover:after {
        right: 24px;
    }
}
@media only screen and (max-width: 200px) {
    h1 {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 15vw;
    }
    h2 {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}
